@import "web.css";

.heading{
  margin: 14px;
  margin-left: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.flex{
  display: flex;
  margin-bottom: 5px;
}

p{
  margin-top: 10px;
  font-weight: bold;
  color: grey ;
  font-family: Arial, Helvetica, sans-serif;
}

#menu{
  height: 30px;
  position: absolute;
}

.send-msg{
  margin-left: 14px;
  margin-right: 14px;
  justify-content: center;
  padding: 10px;
}
.sidebar {
  flex: 5.17;
}
.sidebar-chat {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;
}
.sidebar-chats {
  height: 100px;
  width: 450px;
  position: absolute;
  top: 80px; 

}
.chat-avatar {
  position: relative;
  flex: 1;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.chat-info {
  flex: 10;
  margin-left: 15px;
}

.chat-info p {
  font-size: 13px;
  line-height: 20px;
  color: gray;
}
.time p {
  flex: 1;
  font-size: 13px;
  /*white-space: nowrap;*/
  margin-top: -16px;
  color: gray;
}
.message-container {
  height: 100px;
  background-position: center;}

.message-content {
  flex: 1;
  height: 70%;
  width: 600px;
  /*border: 1px solid grey;*/
  padding: 20px 60px;
  overflow: scroll;
  position: absolute;
  bottom: 100px; 
  right: 30px;
}
.chat-message {
  font-size: 14px;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
}
.chat-sent {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat-timestamp {
  margin-left: 10px;
  font-size: 10px;
  color: gray;
}
.message-footer {
  background-color: #F0F0F0;
  display: flex;
  outline: grey;
  border: none;
  align-items: center;
  padding: 5px 5px;
  height: 10px;
  width: 600px;
  position: absolute;
  bottom: 100px; 
  right: 30px;
}
.message-footer input {
  flex: 20;
  margin: 5px 10px;
  padding: 12px 15px;
  outline: grey;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}
.message-container {
  flex: 12;
}
.chat-title {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 540px; 
  right: 450px;
}
.message-header-content {
  margin-left: 15px;
  padding: 1px;
}
.message-header-content p {
  font-size: 13px;
  color: grey;
}
ion-icon{
  font-size: 25px;
}
.video{
  position: absolute;
  top: 100px; 
  right: 115px;
}
.info-circle{
  position: absolute;
  top: 100px; 
  right: 80px;
}
.call{
  position: absolute;
  top: 100px; 
  right: 150px;
}
.current{
  background-color: #E99FF1;
  height:22px;
  width: 145px;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-top: 1%;
  position: absolute;
  border-radius: 15px;
  top: 135px; 
  left: 10px;
}
.avatar{
  position: relative;
  flex: 1;
  overflow: hidden;
  height: 35px;
  width: 35px;
  background-color: yellow;
  border-radius: 50%;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236,236,236);
  z-index: -1;
}
.box1{
  width:170px;
  height:600px;
  background: whitesmoke;
  position: absolute;
  top: 100px; 
  z-index: -1;
  border-top-right-radius: 15px;
}
.box2{
  width:460px;
  height:600px;
  background: whitesmoke;
  position: absolute;
  top: 100px; 
  left: 200px;
  z-index: -1;
  overflow: scroll;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.box3{
  width:650px;
  height:600px;
  background: whitesmoke;
  position: absolute;
  top: 100px; 
  right: 15px;
  z-index: -1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chat-header-right{
  position: absolute;
  bottom: 680px; 
  right: 10px;
}
